[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
pandas = "*"
pm4py = "*"
pyparsing = "*"
openai = "*"
charset-normalizer = "*"
enum34 = "*"

[dev-packages]

[requires]
python_version = "3.11"
